 @charset "gb2312";
.picshow { width: 1200px;height:500px;overflow: hidden; margin: 20px auto; background-image: url("../images/picshow5.png");}

article { width: 1200px; margin: auto }
/* rightbox */
.blogs { float: left; width: 70%; overflow: hidden; }
.blogs li { margin-bottom: 10px; overflow: hidden; padding: 20px; background: #fff }
h3.blogtitle { line-height: 30px; height: 30px; margin: 10px 0; }
.blogpic { overflow: hidden; width: 30%; display: block; float: left; margin-right: 20px; border-radius: 5px; ; }
.autor { width: 100%; overflow: hidden; clear: both; margin: 20px 0 0 0; display: inline-block; color: #838383; font-size: 12px }
.autor span { margin-right: 10px; padding-left: 20px }
.autor span a { color: #096; }
.autor span a:hover { text-decoration: underline }
.lm { background: url(../images/newsbg01.png) no-repeat left center }
.dtime { background: url(../images/newsbg02.png) no-repeat left center }
.comments { background: url(../images/newsbg03.png) no-repeat left center }
.viewnum { background: url(../images/newsbg04.png) no-repeat left center }
.pingl { background: url(../images/newsbg03.png) no-repeat left center }
.blogpic img { width: 100% }
.bloginfo p { color: #888; line-height: 24px }
.more { font-size: 14px; }
.pages { padding: 0 60px 25px; text-align: right }
.pages span { background: #B29C77; color: #fff; }
.pages a { background: #fff; color: #454545; padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages span { padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages a:hover { background: #CCC; }
.sidebar { float: right; width: 28%; overflow: hidden; position: relative }
.about { background: #FFF url(../images/banner1.png) no-repeat top center; overflow: hidden; }
.avatar { margin: 80px auto 20px; width: 100px }
.avatar img { width: 100px; border-radius: 50% }
.abname { color: #3f3f3f; font-weight: bold; font-size: 16px; margin-bottom: 10px; text-align: center }
.abposition { color: #1abc9c; text-align: center }
.abtext { padding: 20px 40px; color: #9a9a9a; line-height: 26px }
.readmore { float: right; }
 .input_text { padding-left: 5px; border: 1px solid #ccc; width: 70%; height: 26px; line-height: 26px; background-color: #f2f2f2; float: left; }
.input_submit { background-color: #333; color: #FFF; float: left; width: 20%; border: none; cursor: pointer; height: 28px; line-height: 28px; }
/*tags*/
.cloud { width: 100%; clear: both; overflow: hidden; background: #fff; margin-bottom: 20px }
.cloud ul { padding: 20px; overflow: hidden; }
.cloud ul a { line-height: 24px; height: 24px; display: block; background: #999; float: left; padding: 3px 11px; margin: 10px 10px 0 0; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; color: #FFF }
.cloud ul a:nth-child(8n-7) { background: #8A9B0F }
.cloud ul a:nth-child(8n-6) { background: #EB6841 }
.cloud ul a:nth-child(8n-5) { background: #3FB8AF }
.cloud ul a:nth-child(8n-4) { background: #FE4365 }
.cloud ul a:nth-child(8n-3) { background: #FC9D9A }
.cloud ul a:nth-child(8n-2) { background: #EDC951 }
.cloud ul a:nth-child(8n-1) { background: #C8C8A9 }
.cloud ul a:nth-child(8n) { background: #83AF9B }
.cloud ul a:first-child { background: #036564 }
.cloud ul a:last-child { background: #3299BB }
.cloud ul a:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
.hometitle { padding: 0 10px; line-height: 50px; height: 50px; font-size: 18px; border-bottom: 1px solid #e5e5e5; color: #333; position: relative }
.hometitle:after { content: ''; position: absolute; height: 2px; width: 0; right: inherit; top: inherit; left: 0; bottom: -1px; background: #333; transition: 2s ease all; }
.hometitle:hover:after { width: 100%; transition: 2s ease all; }
.paihang { background: #FFF; overflow: hidden; margin-bottom: 20px }
.paihang ul { padding: 10px; }
.paihang ul li { border-bottom: solid 1px #EAEAEA; font-size: 14px; margin: 0 0 10px 0; padding: 0 0 10px 0; overflow: hidden }
.paihang ul li b { height: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.paihang ul li p { line-height: 24px; color: #888 }
.paihang ul li a:hover { color: #000; }
.paihang ul li:hover p { color: #000; }
.paihang ul li:hover b a { color: #000; }
.paihang li i { width: 100px; height: 90px; overflow: hidden; display: block; border: #efefef 1px solid; float: left; margin-right: 10px }
.paihang li img { height: 100%; margin: auto; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.paihang ul li:hover i img { transform: scale(1.1) }
/*links*/
.links { width: 100%; background: #FFF; overflow: hidden; }
.links ul { padding: 20px; overflow: hidden }
.links ul a { line-height: 24px; margin: 0 10px 0 0; display: block; float: left }
.links ul a:hover { text-decoration: underline }
.weixin { background: #FFF; overflow: hidden; margin: 20px 0; }
.weixin img { width: 100% }
/*lmnav*/
.lmnav { background: #FFF; overflow: hidden; margin-bottom: 20px }
.lmnav li { border-bottom: 1px dashed #CCCCCC; margin: 10px; padding-bottom: 5px; padding-left: 10px; font-weight: bold }
.lmnav li a { color: #333; }
.lmnav li a:hover { color: #096 }
.lmnav li ul li { border: none; margin: 0 0 0 30px; padding: 5px 0; font-weight: normal }
.navbor { border: #333 1px solid; position: relative; margin: 20px; background: url(../images/navbg.png) no-repeat bottom right; background-size: 70% 70%; }
.navbor:before { content: ""; width: 100px; height: 20px; background: #fff; top: -10px; left: 0; position: absolute }
.navbor:after { content: ""; width: 20px; height: 100px; background: #fff; top: -10px; left: -10px; position: absolute }
.picbox { width: 72%; float: left; overflow: hidden; margin-top: 20px }
.picbox ul { overflow: hidden; width: 268px; float: left; margin-right: 16px }
.picbox ul li { display: block; background: #FFF; margin: 0 0 20px 0; border: 1px #d9d9d9 solid; }
.picbox ul li i { margin: 10px; height: auto; overflow: hidden; display: block; }
.picbox ul li img { width: 100%; }
.picinfo h3 { border-bottom: #ccc 1px solid; padding: 20px 0; margin: 0 20px }
.picinfo span { padding: 20px; display: block; color: #666 }
.infos { float: left; width: 70%; overflow: hidden; background: #FFF; margin: 20px 0 }
.newsview { padding: 0 30px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.news_author { width: 100%; color: #999; line-height: 18px; }
.news_author span { margin-right: 10px; padding-left: 20px }
.au01 { background: url(../images/author2.png) no-repeat left center }
.au02 { background: url(../images/date.png) no-repeat left center }
.au03 b { color: #333; padding: 0 5px }
.au04 { font-weight: normal; }
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; }
.tags { margin: 10px 0; }
.news_infos { line-height: 24px; text-align: justify; }
.news_infos p { margin-bottom: 10px }
.news_infos img { max-width: 650px; height: auto; }
.share { padding: 20px; }
.nextinfo { line-height: 24px; width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }/*��һƪ��һƪ*/
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a:hover { color: #000; text-decoration: underline }
/*�������*/
.otherlink, .xzsm, .ffsm { width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.otherlink h2 { border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; background: url(../images/5794.png) left 10px center no-repeat; padding-left: 40px; color: #000 }
.otherlink ul { margin: 10px 0 }
.otherlink li { line-height: 24px; height: 24px; display: block; width: 290px; float: left; overflow: hidden; margin-right: 30px; padding-left: 10px; }
.otherlink li a:hover { text-decoration: underline; color: #000 }
/*��������*/
.news_pl { margin: 10px 0; width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.news_pl h2 { background: url(../images/newsbg03.png) no-repeat left 10px center; border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; padding-left: 30px; color: #000 }
.xzsm ul, .ffsm ul { padding: 20px; line-height: 24px; border-top: 6px solid #a6b5c5; }
.bt-blue { display: block; line-height: 40px; height: 40px; background: #1e8ec5; width: 100px; text-align: center; }
.bt-blue a { color: #fff }
.gbko { padding: 10px; background: #fff; }
.ad { overflow: hidden }
.ad img { width: 100% }
.leftbox { width: 70%; float: left; overflow: hidden; }
.rightbox { width: 28%; float: right; overflow: hidden; }
.aboutme { overflow: hidden; background: #fff; }
.ab_con { line-height: 30px; padding: 10px; }
.ab_con p { background: #f6f6f6; margin: 5px 0; padding-left: 10px; border-radius: 5px; text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px; }
.ab_box .avatar { width: 100px; height: 100px; overflow: hidden; border-radius: 50px; margin: 10px auto 0; }
.ab_box .avatar img { width: 100px; height: 100px }
.ab_box .news_infos { padding: 30px 0 }
.meandblog { padding: 20px; border-radius: 10px; overflow: hidden; margin: 0 0 20px 0; }
.meandblog li { background: #f1f1f1; line-height: 30px; margin: 5px 0; padding: 0 0 0 10px; border-radius: 10px; border-top: 2px solid #e2e2e2; text-shadow: #eae7e7 0px 0px 1px; }
.meandblog li a:hover { color: #000 }
.ghfeed{
    height: 390px;}
.section-inner{height: 480px;}
/**
 * 12.0 - Comment
 */
.comment-area {
    padding: 0 30px 0;
    width: 700px;
}

.comment-form {
    margin-top: 15px;
}

.comment-form .comment-btn {
    background-color: #fff;
    border: 1px solid #aaa;
    font-size: 16px;
    padding: 5px 10px;
}

.comment-list-panel {
    margin-top: 30px;
}

.comment-list {
    margin-top: 15px;
}

.comment-item:not(:last-child) {
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.comment-item .nickname,
.comment-item .submit-date {
    color: #777;
    font-size: 14px;
}

.comment-item .nickname:after {
    content: ' ·';
}

.comment-item .text {
    padding-top: 5px;
    font-size: 16px;
}
.contact-form input, .comment-form input {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 100%;
    transition: 0.4s border-color linear;
}

.contact-form textarea, .comment-form textarea {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 20px !important;
    min-height: 183px;
    transition: 0.4s border-color linear;
}

.contact-form input:focus, .comment-form input:focus,
.contact-form textarea:focus, .comment-form textarea:focus {
    border-color: #666;
}

/**
 * 13.0 - Pagination
 */
.pagination {margin-top: 25px; text-align: center;}
.pagination a {
  display: inline-block;
  line-height: 38px;
  padding: 0 15px;
  margin-right: 4px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #d7dde4;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}
.pagination a:hover {
  color: #A161BF;
  border: 1px solid #A161BF;
}
.pagination .current-page {color: white; background-color: #A161BF;}
.pagination .current-page:hover {
  color: white;
  border: 1px solid #A161BF;
}
.pagination span {
  display: inline-block;
  font-size: 20px;
  line-height: 38px;
  padding: 0 8px;
  margin-right: 4px;
}
.pagination-pos{
    text-align: center;
}
.current a {
    color: red;
}
/**
 * 4.0 - Home/Blog
 */

.content-body {
    padding-bottom: 4em;
}

.post {
    background: #fff;
    padding: 30px 30px 0;
}

.entry-title {
    text-align: center;
    font-size: 1.9em;
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 10px 20px 0;
}

.entry-meta {
    text-align: center;
    color: #DDDDDD;
    font-size: 13px;
    margin-bottom: 30px;
}

.entry-content {
    font-size: 18px;
    line-height: 1.9;
    font-weight: 300;
    color: #000;
}

.post-category::after,
.post-date::after,
.post-author::after,
.comments-link::after {
    content: ' ·';
    color: #000;
}
.end-flag{text-align: center;}

/**
 * 7.0 - Header Search Bar
 */

#header-search-box {
    position: absolute;
    right: 10%;
    top: 1.4%;
}

.search-form {
    display: none;
    width: 25%;
    position: absolute;
    min-width: 200px;
    right: -6px;
    top: 33px;
}

#search-menu span {
    font-size: 20px;
}

#searchform {
    position: relative;
    border: 1px solid #ddd;
    min-height: 42px;
}

#searchform input[type=search] {
    width: 100%;
    border: none;
    position: absolute;
    left: 0;
    padding: 10px 30px 10px 10px;
    z-index: 99;
}

#searchform button {
    position: absolute;
    right: 6px;
    top: 4px;
    z-index: 999;
    background: transparent;
    border: 0;
    padding: 0;
}

#searchform button span {
    font-size: 22px;
}

#search-menu span.ion-ios-close-empty {
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: -6px;
}

#site-header {
    background-color: #FFF;
    padding: 25px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;
}
.myself {  text-align:center;background: #FFF; overflow: hidden; padding: 20px; margin: 20px 0 }
.myself span { margin-right: 20px;margin-left: 18px;  }
.myself span:hover img{ display: block; width: 100%; transition: all .5s;}
.github-img{height:40px;width:40px;float:left;margin-top: 0px;}
.email-img{height:40px;width:40px;float:left;margin-top: 6px;}
.qq-img{height: 30px;width:30px;float:left;margin-top: 3px;}
.weixin-img{height:30px;width:30px;float:left;margin-top: 4px;}
.likes{float:right;line-height:32px;background:#ffcccc;padding:3px 8px 3px 8px;box-shadow: 0 1px 5px;}
